html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Camera */


#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;
}


.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}

/* Controls At Bottom of Camera Screen */

#adjust-lighting-button {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    background: none;
    border: none;
    position: fixed;
    bottom: 120px;
    left: calc(50% + 8px);
}

#camera-assistant-button {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    background: none;
    border: none;
    position: fixed;
    bottom: 120px;
    left: calc(50% + 100px);
}

#camera--trigger{
    position: fixed;
    bottom: 20px;
    left: calc(50% - 50px);
}

#emphasis-filter-button {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    background: none;
    border: none;
    position: fixed;
    bottom: 120px;
    left: calc(50% - 83px);
}

#two-device-mode-button {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    background: none;
    border: none;
    position: fixed;
    bottom: 120px;
    left: calc(50% - 175px);
}

/* Login Screen */
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
