html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1 {
    margin-left: 20px;
    margin-top: 80px;
    font-family: 'Khula', sans-serif;
    font-size: 160%;
}

#camera-nav {
    background-color: black;
}

/* Login Screen */

#login-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#user-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80%;
}

/* Home Screen */

#begin-taking-photos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 90%;
}

#complete-screening {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 90%; 
}

#pre-appointment-header {
    margin-top: 5%;
}

#upcoming-appointment {
    display: block;
    width: 100%;
}

/* Tutorials */

#tutorial1-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#tutorial2-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#tutorial3-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.tutorial-header {
    margin: 10px;
    margin-top: 10px;
    text-align: center;
}

.next-btn {
    position: fixed;
    left: 6%;
    bottom: 6%;
}
/* Camera */


#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;
}

.back-btn {
    margin-left: 5%
}


.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    bottom: 20px;
    left: 20px;
    z-index: 2;
    filter: saturate(1);
}

.camera-bottom {
    background-color: black;
}
/* Controls At Bottom of Camera Screen */

#adjust-lighting-button {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    background: none;
    border: none;
    position: fixed;
    bottom: 150px;
    left: calc(50% + 8px);
}

#camera-assistant-button {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    background: none;
    border: none;
    position: fixed;
    bottom: 150px;
    left: calc(50% + 100px);
}

#camera--trigger{
    position: fixed;
    bottom: 20px;
    left: calc(50% - 50px);
}

#emphasis-filter-button {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    background: none;
    border: none;
    position: fixed;
    bottom: 150px;
    left: calc(50% - 83px);
}

#two-device-mode-button {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    background: none;
    border: none;
    position: fixed;
    bottom: 150px;
    left: calc(50% - 175px);
}

#camera--view{
    filter: saturate(1)
}